body {
background-image: url("./img/images.jpeg");
width: 100px;
height: 200px;
background-size: 50%;
background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
