: root {
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
    )
}


body {
/* background-image: url("./img/images.jpeg"); */

/* background-color: rgba(45, 45, 45, 0.1); */
background: linear-gradient(to left, grey, white);


text-align: center;

}


/* ul li .to-do-item {
  width: 245px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  list-style: none;
} */


li {
  transform: skewX(-10deg);
  width: 145px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition-duration: 1000ms;
  transition-property:transform;
}

li:hover {
  transform: rotate(2deg);
}

button {
  border-radius: 5px;
  color: white;
  background-color: #0F5897;
  padding: 5px 10px 8px 10px;
  width: 250px;

}
button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: #4791d0;

  }
}

footer {
  margin-top: 90%;
}

h1 {
  transform: skewX(-24deg);
}

@media (min-width: 600px) {
  h1 {
    font-size: 1.2rem;
  }

}


input {
  width: 250px;
  border-radius: 5px;

}

[placeholder="enter value"] {
  text-align: center;
  background-image: linear-gradient(to right, gray, white);
}
