body {
/* background-image: url("./img/images.jpeg"); */

/* background-color: rgba(45, 45, 45, 0.1); */
background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
text-align: center;

}


/* ul li .to-do-item {
  width: 245px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  list-style: none;
} */


li {
  transform: skewX(-24deg);
  width: 145px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button {
  border-radius: 5px;
  color: white;
  background-color: #0F5897;
  padding: 5px 10px 8px 10px;
}
button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: #4791d0;
  }
}

input {
  
}
